<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Poppins:ital,wght@1,600&display=swap');


>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
body {
    background-color: #e4c8e4;
  }

<<<<<<< HEAD
 header {
=======
 /* header {
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
    background-color: rgb(40, 50, 84);  
    display: flex;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

 
  .logo img {height:200px;
       width:100%;
       display: block;
       margin: 0 auto;
       position: relative;
       z-index: 1;
<<<<<<< HEAD
    }
       


=======
    } */
       

/* 
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(40, 50, 84);
    font-size: 30px;
  }
  .navigation li:hover {
    background: #ce7a2b;
<<<<<<< HEAD
  }
=======
  } */
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
  }
  
  .student-title {
    text-align: center;
<<<<<<< HEAD
    padding: 60px;
=======
    padding: 10px;
    font-family: 'Courgette', cursive;
    font-size: 60px;
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
  }

  p {
    text-align: center;
    padding-bottom: 80px;
<<<<<<< HEAD
=======
    font-family: 'Courgette', cursive;
    font-size: 20px;
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
  }
  
  hr {
    border: none;
    height: 20px; 
    background-color: rgb(40, 50, 84); 
    
  }

 
  
  .GlassContainer-Student {
    /* padding-left: 50px;
      padding-top: 100px; */
    margin: 0;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
<<<<<<< HEAD
    width: 1250px;
    height: 3000px;
=======
    width: 2000px;
    height: 2000px;
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
    /* align-items: center; */
    border-radius: 20px;
    margin-top: 120px;
    background: linear-gradient(
      25.6deg,
      rgba(255, 255, 255, 0.192) 28.69%,
      rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0 0 20px 10px rgba(182, 182, 182, 0.1);
  }
  
  .Student-our-team {
    flex-direction: column;
    font-size: 30px;
    text-align: center;
<<<<<<< HEAD
    font-family: Roboto;
    font-weight: bolder;
    color: rgb(0, 0, 0);
=======
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
  }
  
  .hovering-box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    /* max-width: 100%; */
    height: auto;
  }
  
  .student-image {
    display: block;
    
  }
  
  .hovering-box .student-image {
    max-width: 300px;
  }
  
  .hovering-box .about-Student {
      text-align: center;
      font-size: 18px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
  }
  
  .about-Student {
      width: 90%;
  }

  .student-1 {
    position: relative;
    top: 20px;
    left: 120px;
    width: 300px;
    height: 340px;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
    overflow: hidden;
  }
  .student-2 {
    position: relative;
    top: -320px;
    left: 560px;
    width: 300px;
    height: 340px;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
    overflow: hidden;
  }
  .student-3 {
    position: relative;
    top: -660px;
    left: 1000px;
    width: 300px;
    height: 340px;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
    overflow: hidden;
  }
  .student-4 {
    position: relative;
    top: -590px;
    left: 320px;
    width: 300px;
    height: 340px;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
    overflow: hidden;
  }
  .student-5 {
    position: relative;
    top: -930px;
    left: 780px;
    width: 300px;
    height: 340px;
<<<<<<< HEAD
    position: relative;
=======
>>>>>>> 150e964aea0bbace53f4626a9c8042e8a4c2211f
    overflow: hidden;
  }
  


  .hovering-box .Student-infomation {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    color: #fff;
    /* padding: 15px; */
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .hovering-box:hover .Student-infomation, .hovering-box:active .Student-infomation {
      opacity: 1;
  }
  
  .hovering-box:hover .Student-info_scale_rotate {
      border-radius: 50%;
      transform: scale(0) rotateZ(0);
  }
  
  .hovering-box:hover .Student-info_scale_rotate, .hovering-box:active .Student-info_scale_rotate {
      border-radius: 0%;
      transform: scale(1) rotateZ(360deg);
  }
  