body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
.navigation{
    overflow: hidden;
    background-color: #1e3b62;
}
.navigation a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.navigation a:hover{
  background-color: #ddd;
  color: black;
}

.navigation a.active {
    background-color: #e69b00;
    color: white;
  }

.signin{
    overflow: hidden;
    background-color: #e69b00;
}

.signin a{
    float: right;
    color: #9c1c1c;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 12px;
}

.signin a:hover{
    background-color: #ddd;
    color: black;
}

.signin a.active{
    background-color: #1c2e4a;
    color: white;
}

.topic{
    overflow: hidden;
    background-color: #1e3b62;
    text-align: center;
    font-size: large;
    color: #ddd;
}

.headingpattern{
    color: #e69b00;
    text-align: center;
    font-size: larger;
    font-family: Arial;
}

.fontbox{
    overflow: hidden;
    background-color: #1e3b62;
    width: 80%;
    text-align: justify;
    margin: auto;
    color: #ddd;
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial;

}

.screeningoptionbox{
    overflow: hidden;
    background-color: #e69b00;
    width: 25%;
    height: 50%;
    margin: auto;
    border-radius: 10px;
    
    padding-right: 20px;
    text-align: center;
}

.Questionnaire{
    overflow: hidden;
    background-color: #e69b00;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    padding-left: 20px;
    text-align: left; 
    font-size: 10px;
}

.Questionbox{
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    width: 95%;
    padding-left: 20px;
    text-align: left; 
    font-size: 10px;
}